ignore/
[Ii]gnore/

.idea/
.vs/
.cache/
.mono/
.dotnet/
*.sln.iml

bin/
obj/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
build/
Build/

*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.tmp

.DS_Store
Thumbs.db
desktop.ini

*.dll
*.pdb